/*forum.css*/

.well {
	margin-top: 20px;
}

.container {
	margin-top: 10px;
}

.list-group {
	margin-top: 50px;
}

.nav-pills {
	margin-top: 10px;
}

.navbar-search {
	position: relative;
	margin-top: 10px;
}

.item {
	position: relative;
	border-bottom: 1px solid #ddd;
	padding: 8px 10px 6px;
	zoom: 1;
}

.item .main {
	overflow: hidden;
}

/*sticky footer -based on Twitter Bootstraps' fixed navigation */
/*- by Cristovao Verstraeten - apleasantview.com 2013 */
/*Tip: you might need to add a bottom margin to your main content box*/
 
.foot-fixed-bottom {
 bottom: 0;
 display: block;
 left: 0;
 margin-bottom: 0;
 position: fixed;
 right: 0;
 z-index: 1030;
}
.foot-fixed-bottom .container {
 background-color: #eee;
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 2px;
}
.foot-fixed-bottom p {
 color: rgb(0, 0, 0);
 font-size: 15px;
 margin: 0 12px 13px;
}
 
/*that's all folks!*/