{% extends "post.jinja" %}
{% block form %}
<!-- don't put anything in action -->
<form action="" method="POST" class="form-horizontal">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <legend>欢迎来到两点钟论坛 </legend>
              {{ edit_form.as_p()}}
            <div class="control-group">
              <div class="controls">
                <button class="btn btn-success" type="submit">提交</button>
              </div>
            </div>
          </form>
{% endblock %}