{% extends "base.html" %}
{% set active_page = "students" %}
{% block title %}
	Student page
{% endblock %}

{% block content %}
    
    <h2>新增学生</h2>
    <p></p>
	<form action="/new-student" method="post" id="post_new">
		<p><input class="large" type="text" name="firstname" placeholder="名字" /></p>
		<p><input class="large" type="text" name="lastname" placeholder="姓" /></p>
		<p><input class="large" type="date" name="birthdate" placeholder="生日" /></p>
		<p><input class="large" type="text" name="level" placeholder="水平等级" /></p>
		<p><label>缴费</label><input type="checkbox" name="paid" class="checkbox" /></p>
		<p><input type="submit" class="submit" value="添加" /></p>
	</form>

	</br>

	<h2>现有学生</h2>
	<table class="table table-striped table-bordered table-condensed table-hover">
		<tr>
			<th>名字</th>
			<th>缴费情况</th>
			<th>已选课程</th>
			<th>操作</th>
		</tr>
  		{% for student in students %}
    	<tr>
    		<td>{{ student.lastname ~ student.firstname }}</td>
    		<td>{% if student.paid %}
    				Paid
    			{% else %}
    				Unpaid
    			{% endif %}</td>	
    		<td>{% for course in student.courses %}
    				course.name
    			{% endfor %}
    		</td>
    		<td><a href="/edit-student/{{student.id}}">编辑</a>
				<a href="/delete-student/{{student.id}}" onclick="return confirm('删除后不能还原，你确定吗?')">刪除</a>
			</td>
    	</tr>
    	{% endfor %}
	</table>
	
{% endblock %}
