{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-sm-1">
  		</div>
  		<div class="col-sm-5">
  			<div class="well">
  				<h3>{{ user_detail.username }}</h3>
  				<p>{{ user_detail.email }}</p>
  				<p></p>
  				<div class="row">
  					<div class="col-sm-5">
  					</div>
  					<div class="col-sm-7">
  						<h5>上次登录时间: {{ user_detail.last_login.strftime('%Y-%m-%d at %H:%m') }}</h5>
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="col-sm-6">
  		</div>
	</div>
{% endblock %}